@model IEnumerable<Projekt_ASP.Models.Ad>

@{
    ViewData["Title"] = "Ogłoszenia";
}

<h1>@ViewData["Title"]</h1>

<a href="@Url.Action("Create", "Ads")" class="btn btn-success">Dodaj nowe ogłoszenie</a>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Kategoria</th>
            <th>Data utworzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ad in Model)
        {
            <tr>
                <td>@ad.Title</td>
                <td>@ad.Description</td>
                <td>@ad.Price</td>
                <td>@ad.Category</td>
                <td>@ad.CreatedAt</td>
            </tr>
        }
    </tbody>
</table>
